
<div ng-app="tableController">

    <h2>Employee table</h2>


    <button style="float: left; margin-right: 3%;width: 200px;" class="btn btn-primary" onclick="window.location.href='/#/add'"> Add</button>

    <style>
    table {
        padding: 60px;
    width: 100%;
    background-color: transparent;

    margin-top: 20px;
    border-collapse:collapse;
    border: 1px solid #ddd; 
    }
    th {
        font-size: 20px;
    }
    .ted {
        padding: 20px;
    }
    </style>

    <table border="1|0">
        <th>
            <tr style="    background-color: blueviolet;">
                <td class="ted">
                    S.No
                </td>
                <td class="ted">
                    Employee Name
                </td>
                <td class="ted">
                    Designation
                </td>
                <td class="ted">
                    Manager
                </td>

            </tr>
        </th>

        <tr ng-repeat="prof in profile">
            <td>
                {{$index+1}}
            </td>
            <td>
                {{prof.name}}
            </td>
            <td>
                {{prof.desig}}
            </td>
            <td>
                {{prof.manager}}
            </td>
            <td>
                <a ng-click="getEmployee(prof);">View</a>
            </td>
        </tr>
    </table>
</div>