 
<div class="" ng-controller="addController">

        <h2> Add Employees</h2>


        <form class="" ng-submit="addSubmit($e)">
            <div >
            <label> Name</label>
            <input class="form-group-lg" ng-model="name" required ></div>

            <div>
             <label> Designation</label>
            <input class="form-group-lg" ng-model="desig" required ></div>


            <div>
            <label> Manager</label>
            <input class="form-group-lg" ng-model="manager" required ></div>


            <div>
            <input type="submit" class="btn btn-group" required ></div>
            
        </form>
</div>
    